.carousel-container {
  position: fixed;
  z-index: 1;
}





.carousel-text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  /* Cover the right half of the carousel */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  text-align: center;
  background: #000;
  padding: 10px;
  border-radius: 10px;
  ;
  color: rgb(255, 255, 255);
}

.carousel-text-overlay h1 {
  font-size: 3rem;
}

.carousel-text-overlay p {
  font-size: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
}






.left-pane {
  width: 50%;
  padding: 20px;
}

.right-pane {
  width: 50%;
  padding: 20px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {

  .left-pane,
  .right-pane {
    width: 100%;
  }
}






.viewbuttons {
  background: #e7d800;
  padding: 10px;
  border-radius: 10px;
  border-color: #000;
  border-width: 2px;
  transition: transform 0.3s ease;

}

.viewbuttons:hover {
  background-color: rgb(183, 146, 0);
  transform: scale(1.1)
}







#thebookscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booksimage {
  text-align: center;
}




.homeleftcontent {
  background: #e7d800;
  border-radius: 10px;
  padding: 10px;
  border-color: #000;
  border-width: 3px;
}