.sidebar {
    width: 200px;
    height: 700px;
    background-color: #120079;
    padding: 10px;
}

.sidebar hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    height: 1.5px;
    background-color: #000000;
}

.buttonsdiv {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px;

}

.button {
    display: block;
    width: 200px;
    padding: 5px;
    border: none;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    /* Add margin between buttons*/
    /* Align text to the left */
}

.button.active {
    background-color: #0a0042;
    /* Change to the color you want for the active button */
}

.button:hover {
    background-color: #0a0042;
}

/* Adjustments for button text */
.button b {
    color: white;
}

.catbutton {
    border-radius: 100px;
}

.catbutton:hover {
    background-color: #0a0042;
}